<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Timix</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui" />
    <link rel="stylesheet" href="stylesheets/main.css"/>
</head>
<body>
 <header class="t-header">
    <input type="text" id="search-inpt" class="search-inpt on" placeholder="老师&nbsp;&nbsp;技能" />
     <nav><ul>
         <li data="摄影">摄影</li>
         <li data="运动">运动</li>
         <li data="美食" class="on">美食</li>
         <li data="手工">手工</li>
         <li data="舞蹈">舞蹈</li>
         <li data="其它">其它</li>

     </ul></nav>
 </header>
<section class="main" style="height: 2000px;;">
    <div class="main-view">
        <ul class="main-list">
            <li><a href="/course"><img src="images/content/01.jpg" alt=""/></a></li>
            <li><a href="/course:id"><img src="images/content/01.jpg" alt=""/></a></li>
            <li><a href="/course:id"><img src="images/content/01.jpg" alt=""/></a></li>
            <li><a href="/course:id"><img src="images/content/01.jpg" alt=""/></a></li>
        </ul>
    </div>
</section>
<footer class="t-footer">
    <ul>
        <li class="on">我来学</li>
        <li >我来教</li>
        <li>我</li>
    </ul>
</footer>
</body>
</html>